@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #131313 !important;
}

.navbar {
  background-color: #131313;
  z-index: 1000;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link:hover {
  color: #c61616 !important;
}

.buttoncontact {
  border-radius: 25px;
}

.mid {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #131313;
}

.mid video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
}

.hero {
  position: relative;
}

.display-3 {
  font-weight: bolder;
}

.mid .hero p {
  width: 55%;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

.mid .hero a {
  border-radius: 25px;
}

.btn:hover {
  background-color: #c61616;
}

.about {
}

.about .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.about .text h6 {
  color: #c61616;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
